nav {
	overflow: auto;
}

nav>ul {
	padding: 0;
	margin: 0;
}

nav>ul li {
	list-style: none;
	float: left;
	height: 50px;
	width: 140px;
	text-align: center;
	line-height: 50px;
}

nav a {
	display: inline-block;
	width: 110px;
	height: 30px;
	line-height: 30px;
	border-radius: 8px;
	color: #666;
	font-size: 1rem;
	text-decoration: none;
}

nav a:hover {
	background-color: coral;
	color: azure;
}

.jumbotron {
	height: 100vh;
	background-image: url(img/7.JPG);
	color: aliceblue;
	text-align: center;
}

.jumbotron h1 {
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	left: 50%;
	top: 45%;
	transform: translateX(-50%);
}

.jumbotron p {
	position: absolute;
	font-size: 15px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
}

body {
	background-color: rgba(135, 216, 235, 0.72);
}

.box {
	width: 260px;
	height: 170px;
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: aqua;
}

.container-bcga {
	height: 400px;
	background-image: url(img/about%20bgc.jpg);
	background-size: cover;
	opacity: 0.9;
	background-repeat: no-repeat;
}

.j h1 {
	font-size: 40px;
	font-family: sans-serif;
	font-weight: bolder;
	color: rgba(90, 39, 185, 0.86);
	text-align: center;
	padding: 150px;
}

.gravatar {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 50px;
}

.gravatar img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.container.s {
	width: inherit;
	padding: 0px 100px;
}

.scenery {
	height: 650px;
	background-color: #383634;
	padding: 100px 0px;
	color: white;
}

.scenery-wrapper {
	display: table;
	width: 100%;
	margin-top: 60px;
	table-layout: fixed;
}

.scenery-box {
	position: relative;
	display: table-cell;
}

scenery-image {
	display: block;
	width: 100%;
}

.scenery-box::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: no-repeat;
	background-size: 100% 100%;
	opacity: 0.2;
	transform: scaleY(-1);
}

.scenery-box.a::after {
	background-image: url(img/s1.JPG);
}

.scenery-box.b::after {
	background-image: url(img/s2.JPG);
}

.scenery-box.c::after {
	background-image: url(img/s3.JPG);
}

.scenery-box.d::after {
	background-image: url(img/s4.JPG);
}

.scenery-description {
	position: absolute;
	top: 100%;
	left: 0%;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.scenery-description-inner {
	display: table;
	width: 100%;
	height: 100%;
	padding: 10px;
	text-align: center;
}

.scenery-text {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.2rem;
	line-height: 2;
}

.button {
	display: block;
	width: 140px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	background-color: #817f7f;
	color: #f4d9dd;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: center;
}

.button:hover {
	opacity: 0.8;
}

.container-bcgf {
	height: 400px;
	background-image: url(img/food.jpg);
	background-size: cover;
	opacity: 0.8;
}

.container.z {
	width: inherit;
	padding-top: 150px;
}

.container-food {
	padding: 30px;
	text-align: center;
	color: #ef1018;
	letter-spacing: 3px;
}

.thumbnail-z {
	width: 380px;
	height: 215px;
	margin-bottom: 20px;
	padding: 0px;
	border-bottom: 3px solid;
	border-radius: 5px;
	background-color: white;
}

.thumbnail-z img {
	display: block;
	width: 100%;
	border-radius: 3%;
}

.container.x {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

.thumbnail {
	display: block;
	margin: 0px auto;
	width: 330px;
	height: 280px;
	padding: 8px;
	border-bottom: 10px solid;
	border-radius: 5px;
	background-color: white;
}

.caption>h3 {
	margin: 14px 14px 10px;
	color: #aaa;
	letter-spacing: 3px;
	font-family: sans-serif;
}

.caption>h3::before {
	content: '';
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-right: 5px;
	border: 3px solid;
	border-radius: 50%;
	vertical-align: -5px;
}

.caption>p {
	margin: 12px;
	line-height: 1.5;
}

.thumbnail-1,
.thumbnail-1 h3::before {
	border-color: green;
}

.thumbnail-2,
.thumbnail-2 h3::before {
	border-color: #2922d4;
}

.thumbnail-3,
.thumbnail-3 h3::before {
	border-color: crimson;
}

.thumbnail-4,
.thumbnail-4 h3::before {
	border-color: #ef7924;
}

.thumbnail-5,
.thumbnail-5 h3::before {
	border-color: rgba(41, 194, 250, 0.97);
}

.thumbnail-6,
.thumbnail-6 h3::before {
	border-color: rgba(165, 8, 248, 0.87);
}

.thumbnail img {
	display: block;
	width: 100%;
	height: 150px;
}

.thumbnail a {
	text-decoration: none;
	display: block;
	margin: -8px -8px -18px;
	border-radius: inherit;
	color: #777;
	transition: all 0.5s;
	height: inherit;
}

.thumbnail-z a {
	display: block;
	transition: all 0.5s;
}

.thumbnail-z a:hover {
	box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.3);
	opacity: 0.7;
}

.thumbnail img {
	display: block;
	width: 100%;
	height: 150px;
}

.thumbnail>a:hover {
	box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.3);
	opacity: 0.7;
}

footer {
	height: 270px;
	clear: both;
	background-color: #333;
	color: white;
	width: 100%;
}

footer a {
	text-decoration: none;
	font-size: 1rem;
}

footer a:link {
	color: white;
}

footer a:visited {
	color: rgba(39, 185, 61, 0.56);
}

.container.e {
	width: inherit;
	font-size: 0.8rem;
	padding-top: 190px;
}

.container-iphone {
	padding: 0px 30px 30px 30px;
	color: white;
	text-align: center;
}

.iphone-img {
	height: 480px;
	width: 630px;
	background: url(img/18.png);
	border-radius: 10px;
	display: block;
	margin: auto;
}

.ibutton {
	display: inline-block;
	width: 200px;
	height: 50px;
	border-radius: 8px;
	background-color: rgba(59, 172, 163, 0.84);
	color: rgba(244, 217, 221, 0.97);
	text-decoration: none;
	font-size: 1.4rem;
	letter-spacing: 4px;
	text-align: center;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
	padding: 12px;
	font-family: monospace;
	margin: auto;
}

.ibutton:hover {
	opacity: 0.8;
	background-color: #ca2eef;
}
