nav {
	overflow: auto;
}

nav>ul {
	padding: 0;
	margin: 0;
}

nav>ul li {
	list-style: none;
	float: left;
	height: 50px;
	width: 140px;
	text-align: center;
	line-height: 50px;
}

nav li a {
	text-decoration: none;
}

.gravatar {
	text-align: center;
	margin: 0 auto;
}

.gravatar img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.jumbotron {
	height: 100vh;
	background-image: url(img/7.JPG);
	color: aliceblue;
	text-align: center;
	padding: 200px;
}

.jumbotron h1 {
	font-size: 30px;
	font-weight: bold;
}

.j h1 {
	font-size: 40px;
	font-family: sans-serif;
	font-weight: bolder;
	color: rgba(90, 39, 185, 0.86);
	text-align: center;
	padding: 150px;
}

body {
	background-color: rgba(135, 216, 235, 0.72);
}

footer {
	height: 200px;
	clear: both;
	background-color: #333;
	color: white;
}

.container-food {
	padding: 30px;
	margin-left: 170px;
	margin-top: 100px;
	text-align: center;
	color: #ef1018;
	letter-spacing: 3px;
}

.thumbnail-0 {
	width: 400px;
	height: 230px;
	margin-bottom: 2px;
	padding: 0px;
	border-bottom: 3px solid;
	border-radius: 5px;
	background-color: white;
}

.thumbnail-0 img {
	display: block;
	width: 100%;
}

.thumbnail {
	width: 330px;
	margin-bottom: 4px;
	padding: 8px;
	border-bottom: 3px solid;
	border-radius: 5px;
	background-color: white;
}

.caption>h3 {
	margin: 10px 9px 10px;
	color: #aaa;
	letter-spacing: 2px;
	font-family: sans-serif;
}

.caption>h3::before {
	content: '';
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-right: 5px;
	border: 2px solid;
	border-radius: 50%;
	vertical-align: -5px;
}

.caption>p {
	margin: 10px;
	line-height: 1.5;
}

.thumbnail-1,
.thumbnail-1 h3::before {
	border-color: green;
}

.thumbnail-2,
.thumbnail-2 h3::before {
	border-color: #2922d4;
}

.thumbnail-3,
.thumbnail-3 h3::before {
	border-color: crimson;
}

.thumbnail-4,
.thumbnail-4 h3::before {
	border-color: #ef7924;
}

.thumbnail-5,
.thumbnail-5 h3::before {
	border-color: rgba(41, 194, 250, 0.97);
}

.thumbnail-6,
.thumbnail-6 h3::before {
	border-color: rgba(165, 8, 248, 0.87);
}

.thumbnail img {
	display: block;
	width: 100%;
}

.thumbnail a {
	text-decoration: none;
	display: block;
	margin: -8px -8px -18px;
	border-radius: inherit;
	color: #777;
	transition: all 0.5s;
}

.thumbnail-0>a {
	transition: all 0.5s;
}

.thumbnail-0>a:hover {
	box-shadow: rgba(0, 0, 0, 0.3); //無作用???
	opacity: 0.7;
}

.thumbnail>a:hover {
	box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
	opacity: 0.7;
}

.box {
	width: 260px;
	height: 170px;
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: aqua;
}

header {
	height: 400px;
	border: 2px solid blue;
	background-image: url(img/DSC_1982.JPG);
	background-size: cover;
	opacity: 0.8;
}

nav a {
	display: inline-block;
	width: 110px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 8px;
	color: #666;
	font-size: 1rem;
}

nav a:hover {
	background-color: coral;
	color: azure;
}

footer a {
	text-decoration: none;
	font-size: 1rem;
}

footer a:link {
	color: white;
}

footer a:visited {
	color: rgba(39, 185, 61, 0.56);
}

.container-iphone {
	padding: 0px 30px 30px 30px;
	color: white;
}

.iphone-img {
	border: 2px solid;
	height: 480px;
	width: 630px;
	background: url(img/18.png);
	border-radius: 10px;
}

.scenery {
	background-color: #383634;
	padding: 80px 0;
	color: white;
}

.scenery-wrapper {
	display: table;
	width: 100%;
	margin-top: 60px;
	table-layout: fixed;
}

.scenery-box {
	position: relative;
	display: table-cell;
}

.scenery-box::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: url("img/s1.JPG") no-repeat;
	background-size: 100% 100%;
	opacity: 0.2;
	transform: scaleY(-1);
}

scenery-image {
	display: block;
	width: 100%;
	margin: 0 0 60%;
}

.button {
	display: inline-block;
	width: 140px;
	margin-top: 20px;
	border-radius: 4px;
	background-color: #817f7f;
	color: #f4d9dd;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: center;
}

.button:hover {
	opacity: 0.8;
}

.ibutton {
	display: inline-block;
	width: 200px;
	height: 50px;
	margin-top: 250px;
	margin-left: 45px;
	border-radius: 8px;
	background-color: rgba(59, 172, 163, 0.84);
	color: rgba(244, 217, 221, 0.97);
	text-decoration: none;
	font-size: 1.4rem;
	letter-spacing: 4px;
	text-align: center;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
	padding: 12px;
	font-family: monospace;
}

.ibutton:hover {
	opacity: 0.8;
	background-color: #ca2eef;
}

border:1px solid #fff;
background-color: rgba(225,
225,
225,
0.15);

}
header {
	height: 400px;
	border: 2px solid blue;
	background-image: url(img/DSC_1982.JPG);
	background-size: cover;
	opacity: 0.8;
}
.scenery-description {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
}
.scenery-description-inner {
	display: table;
	width: 100%;
	height: 100%;
	padding: 20px;
}
.scenery-text {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.2rem;
	line-height: 2;
}
